.cmh-notification-center-item {
  padding: 24px;
  border-bottom: 1px solid var(--color-border-primary-default);

  &:last-child {
    border-bottom: 0;
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr min-content;
    height: 16px;
    align-items: center;
    gap: 8px;
  }

  &__header--is-new {
    grid-template-columns: min-content 1fr min-content;

    &::before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--color-interaction-primary-default);
      margin-right: 8px;
      transform: translateY(50%);
    }
  }

  &__title {
    margin: 0;
    font-weight: var(--font-weight-semibold, 600);
    font-size: var(--font-size-2xs, 12px);
    color: var(--color-text-primary-default);
  }

  &__delete {
    cursor: pointer;
    display: none;
    color: var(--color-icon-primary-default);
  }

  &__timestamp {
    margin: 0;
    font-size: var(--font-size-2xs, 12px);
    color: var(--color-text-secondary-default);
    display: block;
    white-space: nowrap;
    user-select: none;
  }

  &:hover {
    .cmh-notification-center-item__timestamp {
      display: none;
    }

    .cmh-notification-center-item__delete {
      display: block;
    }
  }

  &__content {
    margin: 8px 0;
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: 16px;
  }

  &__message {
    margin: 0;
    font-size: var(--font-size-2xs, 12px);
    line-height: 1.5;
    color: var(--color-text-primary-default);
    white-space: pre-line;
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px -10px;
  }

  &__actions-item-container {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 10px;

    .mt-button {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
  }
}
